# @package _global_

defaults:
  - logger: offline
  - data: smoke
  - model: bcnp_smoke
  - trainer: smoke
  - inference: smoke
  - _self_
  - override hydra/job_logging: console

name: "smoke_multimodel"

hydra:
  run:
    dir: ${oc.env:CAUSAL_META_RUN_DIR,experiments/runs/${name}}
  sweep:
    dir: ${oc.env:CAUSAL_META_SWEEP_DIR,experiments/runs/${name}}
    subdir: "${model.id}"
  output_subdir: null
  sweeper:
    params:
      model: avici_smoke,bcnp_smoke,dibs,bayesdag
